<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chess Game</title>
  <link rel="stylesheet" href="/css/chessgame.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-900">
  <div class="w-full h-screen flex items-center justify-center">
    <div class="chessboard"></div>
  </div>

  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
    integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.11.0/chess.min.js">
  </script>
  <script src="/js/chessgame.js">
  </script>
</body>
</html>