<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/chessgame.css">
</head>
<body>
  <div id="lobby" class="lobby">
    <button id="createBtn">Create Room</button>
    <input id="joinInput" placeholder="Room code" />
    <button id="joinBtn">Join Room</button>
    <div id="roomLink"></div>
  </div>

  <div id="gameArea" class="hidden">
    <div id="status"></div>
    <div class="chessboard"></div>
  </div>

  <script>
    window.ROOM_ID = "<%= roomId ? roomId : '' %>";
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.11.0/chess.min.js"></script>
  <script src="/js/chessgame.js"></script>
</body>
</html>